/* whole page */
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* headings */
  h1, h2 {
    font-family: "Times New Roman", Times, serif;
  }
  
  /* paragraphs */
  p {
    font-size: 16px;     
    font-weight: bold;   
    font-style: italic;    
  }

  /* custom classes */
  form {
    border: 3px solid #f1f1f1;
    padding: 20px;
    width: 300px;
    margin: auto;
  }

  input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }